body[data-theme='light'] {
  --color-primary: #0079ff;
  --colors-bg: #f6f8ff;
  --colors-cover: #fefefe;
  --colors-title: #222731;
  --color-text: #4b6a9b;
  --color-mood: #697c9a;
  --color-bold: #2b3442;
  --colors-icon: var(--color-text);
  --colors-disabled: rgba(75, 106, 155, 0.5);
  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

body[data-theme='dark'] {
  --color-primary: #0079ff;
  --colors-bg: #141d2f;
  --colors-cover: #1e2a47;
  --colors-title: #ffffff;
  --color-text: #ffffff;
  --color-mood: #ffffff;
  --color-bold: #ffffff;
  --colors-icon: var(--color-text);
  --colors-disabled: rgba(255, 255, 255, 0.5);
  --shadow: none;
}

$button-primary-bg: #0079ff;
$button-primary-color: #ffffff;
$button-primary-bg-hover: #60abff;

$danger-color: #f74646;
