body[data-theme='light'] {
  --colors-bg: #F6F8FF;
  --colors-cover: #FEFEFE;
  --colors-title: #222731;
  --color-text: #4B6A9B;
  --color-mood: #697C9A;
  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

body[data-theme='dark'] {
  --colors-bg: #141D2F;
  --colors-cover: #1E2A47;
  --colors-title: #FFFFFF;
  --color-text: #FFFFFF;
  --color-mood: #FFFFFF;
  --shadow: none;
}

$button-primary-bg: #0079FF;
$button-primary-color: #FFFFFF;