* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  height: 100vh;
  background-color: var(--colors-bg);
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  @media (max-width: 575px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.app-container {
  max-width: calc(730px + (24px * 2));
  width: 100%;
  margin: auto;
  padding: 0 24px;
}
