button.btn {
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;

  &-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 13px 25px;
    color: $button-primary-color;
    background: $button-primary-bg;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    transition: background 100ms linear;

    &:hover {
      background: $button-primary-bg-hover;
      transition: background 100ms linear;
    }
  }

  @media (max-width: 575px) {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 21px;
  }
}