.user-card {
  display: grid;
  grid-gap: 37px;
  grid-template-columns: 117px 1fr;
  padding: 48px;
  padding-bottom: calc(48px - 21px);
  border-radius: 15px;
  box-shadow: var(--shadow);
  background: var(--colors-cover);

  @media (max-width: 767px) {
    display: block;
  }

  &__photo {
    width: 117px;
    height: 117px;
    border-radius: 50%;
    overflow: hidden;

    @media  (max-width: 767px) {
      margin-right: 40px;
    }

    img {
      height: auto;
      max-width: 100%;
    }
  }
}

@import './user-info.scss';
@import './user-footer.scss';