.user-footer {
  display: inline-grid;
  gap: 0px 40px;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

@import './user-footer-item.scss';