.user-footer-item {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  fill: var(--colors-icon);
  color: var(--color-text);

  &__icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 15px;
  }

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    word-break: break-word;

    @media (max-width: 575px) {
      font-size: 13px;
      line-height: 19px;
    }
  }

  &.disabled {
    fill: var(--colors-disabled);
    color: var(--colors-disabled);
    pointer-events: none;
  }
}